/* Google Font- "Poppins" */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ||Common Css Start|| */
body {
    font-family: "Poppins", sans-serif;
    max-width: 1920px;
    margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
}
a,
a:hover {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul li {
    display: inline-block;
    text-decoration: none;
}
:root {
    /*color*/
    --focus-color: #d91f26;
    --prime-color: #fff;
    /*transition*/
    --first-transition: all 0.3s linear;
    --slow-transition: all 0.5s linear;
    /*font*/
    --regular-font-color: #000;
    --secondary-font-color: #949daf;
}

.container {
    max-width: 1770px;
    margin: auto;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}
/* ||Common Css End|| */

/* Header Css Start */
header {
    background: url(../images/background.jpg);
    position: relative;
    height: 973px;
    background-size: cover;
    background-position: top;
    z-index: 1;
}
header::after {
    position: absolute;
    content: "";
    inset: 0;
    background-color: rgba(0, 0, 0, 43%);
    z-index: -1;
}
header::before {
    position: absolute;
    content: "";
    inset: 0;
    background: url(../images/background-overlay.png);
    background-position: bottom;
    background-size: cover;
    z-index: -1;
}

/* Nav Section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
nav .logo img {
    width: 161px;
    height: 65px;
}
nav .menu li a {
    color: var(--prime-color);
    font-size: 19px;
    font-weight: 400;
    margin: 0 30px;
    transition: var(--first-transition);
}
nav .menu li a:hover {
    color: var(--focus-color);
}
nav .btn-1 {
    background: var(--prime-color);
    color: var(--focus-color);
    border: solid 1px var(--prime-color);
    padding: 15px 30px;
    border-radius: 9px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 37px;
}
nav .btn-2 {
    background: var(--focus-color);
    color: var(--prime-color);
    border: solid 1px var(--prime-color);
    padding: 15px 30px;
    border-radius: 9px;
    font-size: 16px;
    font-weight: 500;
}
nav .btn-3 img {
    width: 52px;
    margin-left: 92px;
}

/* Banner Section */
#banner {
    display: flex;
    justify-content: space-between;
    padding-top: 110px;
}
#banner .banner-text {
    width: 70%;
}
#banner .banner-text h1 {
    font-size: 58px;
    font-weight: 700;
    color: var(--prime-color);
    line-height: 78px;
}
#banner .banner-text p {
    font-size: 28px;
    font-weight: 400;
    color: var(--prime-color);
    line-height: 37px;
    margin-top: 58px;
    margin-bottom: 44px;
}
#banner .banner-text .btn {
    background: var(--focus-color);
    color: var(--prime-color);
    padding: 20px 35px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 500;
}
#banner .banner-img img {
    width: 100%;
}
/* ||Header Css End|| */

/* Our Partners Css Start */
#our-partners {
    padding: 110px 0;
    text-align: center;
}
#our-partners h2 {
    font-size: 58px;
    font-weight: 700;
}
#our-partners .partners {
    display: grid;
    padding-top: 106px;
    grid-template-columns: repeat(4, 1fr);
}
/* ||Our Partners Css End|| */

/* Qoute Css Start */
#qoute .qoute-btn {
    padding: 0 135px;
    padding-bottom: 72px;
}
#qoute .btn-1 {
    background: var(--focus-color);
    width: 701px;
    color: var(--prime-color);
    border: solid 1px var(--prime-color);
    font-size: 34px;
    font-weight: 400;
    padding: 38px 0;
}
#qoute .btn-2 {
    background: var(--focus-color);
    width: 787px;
    color: var(--prime-color);
    border: solid 1px var(--prime-color);
    font-size: 34px;
    font-weight: 400;
    padding: 38px 0;
}
/* ||Qoute Css End|| */

/* Package Css Start */
#package {
    position: relative;
    z-index: 1;
    height: 897px;
}
#package::before {
    position: absolute;
    content: "";
    background: url(../images/package-bg.png);
    width: 1346px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
#package::after {
    position: absolute;
    content: "";
    background: url(../images/package-bg-overlay.png);
    width: 1427px;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
#package .heading h4 {
    text-align: center;
    font-size: 44px;
    font-weight: 400;
    line-height: 58px;
    padding-top: 35px;
    padding-bottom: 251px;
}
#package .packages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#package .package-item {
    width: 371px;
    height: 412px;
    background: var(--prime-color);
    box-shadow: -4px 4px 19px -3px rgba(0, 0, 0, 0.33);
    border-radius: 34px;
    position: relative;
}
#package .package-item::before {
    position: absolute;
    content: "";
    background: var(--focus-color);
    width: 21px;
    height: 131px;
    top: 32px;
    left: 0;
    border-radius: 0 20px 20px 0;
}
#package .package-item .package-overlay {
    position: absolute;
    height: 119px;
    width: 261px;
    background: var(--focus-color);
    border-radius: 0 0 34px 34px;
    right: 16px;
    top: -28px;
    text-align: center;
    z-index: 1;
}
#package .package-item .package-overlay::after {
    position: absolute;
    content: "";
    background: #ba1924;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    width: 28px;
    height: 28px;
    top: 0;
    left: -27px;
}
#package .package-item .package-overlay img {
    position: absolute;
    height: 48px;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 30;
    cursor: pointer;
}
#package .package-item .package-overlay h6 {
    font-size: 28px;
    font-weight: 700;
    padding-top: 25px;
    text-transform: uppercase;
    color: var(--prime-color);
}
#package .package-item .package-text {
    padding: 128px 0 0 32px;
    font-weight: 400;
}
.package-text h5 {
    font-size: 20px;
    font-weight: 400;
    color: var(--focus-color);
    text-transform: uppercase;
    padding-bottom: 35px;
}
.package-text p {
    color: #707070;
    font-size: 18px;
    padding-right: 20px;
}
.package-text .pt {
    padding-top: 25px;
}
/* ||Package Css End|| */

/* Description Css Start */
#description {
    padding: 132px 242px;
    background: var(--focus-color);
    color: var(--prime-color);
    text-align: center;
    font-size: 44px;
    font-weight: 300;
}
#description .dis-pt {
    padding-top: 66px;
}
/* ||Description Css End|| */
